/* --import-fonts--- */
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap");
.martel-sans-bold {
  font-family: "Martel Sans", sans-serif;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
}
body {
  background-color: black;
}
.main {
  background-image: url(../assests/bg-img-01.jpeg);
  height: 70vh;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
}
.main .box {
  height: 70vh;
  width: 100%;
  background-color: black;
  opacity: 0.55;
  position: absolute;
  top: 0%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 70vw;
  margin: auto;
  height: 62px;
  flex-wrap: wrap;
  padding-top: 1rem;
}
nav img {
  width: 141px;
  position: relative;
  z-index: 10;
}
nav button {
  position: relative;
  z-index: 10;
}
.container-box {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  height: calc(96% - 62px);
  position: relative;
  line-height: 57px;
  padding: 0 30px;
  padding-bottom: 0rem;
}
.container-box span:first-child {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.container-box span:nth-child(2) {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  padding-bottom: 8px;
}
.container-box span:nth-child(3) {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.separation {
  height: 0px;
  border-bottom: 7px solid rgb(35, 35, 35);
}
.btn {
  padding: 7px 13px;
  font-weight: bold;
  background-color: white;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bolder;
}
.btn-red-sm {
  background: rgb(229, 9, 20);
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.btn-red {
  background: rgb(229, 9, 20);
  color: rgb(255, 255, 255);
  font-size: 24px;
  display: flex;
  align-items: center;
}
.btn-big {
  color: rgba(255, 255, 255, 0.7);
  background: rgba(22, 22, 22, 0.7);
  border-color: rgba(128, 128, 128, 0.7) !important;
  border: 1px solid;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 9rem;
  padding-top: 16px;
  padding-bottom: 1rem;
}
button.display-inline {
  color: rgba(255, 255, 255, 0.7);
  background: rgba(22, 22, 22, 0.7);
  border-color: rgba(128, 128, 128, 0.7) !important;
  border: 1px solid;
  padding: 7px 13px;
  border-radius: 4px;
  font-weight: bolder;
  display: flex;
  gap: 10px;
  cursor: pointer;
  width: fit-content;
}
select:hover {
  border: none !important;
}
button.btn.btn-red:hover {
  border-color: rgba(255, 255, 255, 0.7) !important;
  border: 2px solid;
}
.btn-big:hover {
  border-color: white !important;
  border: 2px solid;
}
button.display-inline:hover {
  border-color: rgba(255, 255, 255, 0.7) !important;
  border: 2px solid;
}
select {
  border: none !important;
  background: transparent;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.btn-red img {
  display: inline-block;
  height: 1.5rem;
}
.flex-box {
  display: flex;
  gap: 20px;
}
.flex-box-1 {
  margin-top: 1rem;
  gap: 10px;
}
.display-inline img {
  width: 20px !important;
}
.first {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  max-width: 70vw;
  margin: auto;
}
.secImg {
  position: relative;
  top: 0;
}
.secImg img {
  width: 27vw;
  position: relative;
  z-index: 10;
}
.secImg video {
  position: absolute;
  top: 4rem;
  right: 0rem;
  width: 23vw;
  z-index: -1;
}
.para-box div:first-child {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}
.para-box div:nth-child(2) {
  font-size: 24px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  line-height: 35px;
}
.fav h2 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 48px;
  font-weight: 900;
}
.accordion {
  background-color: rgb(45, 45, 45);
  color: rgb(255, 255, 255);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 24px;
  transition: 0.4s;
  font-weight: 400;
  text-align: left;
  max-width: 80vw;
  margin: auto;
  /* display: flex; */
  margin-bottom: 0.5rem;
}

.faq-box {
  display: flex;
  flex-wrap: wrap;
}

.active,
.accordion:hover {
  background-color: #5b5959;
}
.accordion:after {
  content: "\2795";
  font-size: 24px;
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 rgb(255, 255, 255);
  /* color: rgb(255, 255, 255); */
  float: right;
  margin-left: 5px;
  display: inline-block;
}

.active:after {
  display: inline-block;
  content: "\00d7"; /* Unicode character for "minus" sign (-) */
  font-size: 35px;
}
.panel {
  display: none;
  background-color: rgb(45, 45, 45);
  color: rgb(255, 255, 255);
  overflow: hidden;
  max-width: 80vw;
  margin: auto;
}
.panel p {
  padding-left: 1rem;
  padding-bottom: 12px;
  font-size: 24px;
  font-weight: 400;
}
.contain span:first-child {
  font-size: 20px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.container-box.contain {
  padding-top: 2rem;
}
section.fav.martel-sans-bold {
  padding-top: 3rem;
}
.grid-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-bottom: 1.3rem;
  padding-top: 1.3rem;
}
.footer {
  font-size: 20px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  max-width: 80vw;
  margin: auto;
  margin-top: 4rem;
}
.footer h3 {
  font-size: 16px;
  font-weight: 400;
}
.footer a {
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}
footer div {
  display: flex;
  flex-direction: column;
}
footer div.last-items {
  font-size: 14px;
  font-weight: 400;
  padding-top: 1.5rem;
}
h3 span {
  text-decoration: underline;
}
.nikks {
  align-items: end;
  font-weight: 400;
}
.video-2 {
  width: 17vw !important;
  right: 6rem !important;
  top: 1rem !important;
}
/* ----- Media Query ------- */
/* ----phone devices------ */
@media only screen and (max-width: 600px) {
  .container-box {
    line-height: 40px;
    padding: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 1rem;
  }
  .container-box span:first-child {
    font-size: 25px;
  }
  .container-box span:nth-child(2) {
    font-size: 17px;
  }
  .para-box div:first-child {
    font-size: 30px;
    line-height: 45px;
  }
  .para-box div:nth-child(2) {
    font-size: 16px;
  }
  .container-box span:nth-child(3) {
    font-size: 16px;
  }
  .flex-box {
    flex-wrap: wrap;
  }
  .btn-big {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .fav h2 {
    font-size: 30px;
  }
  nav {
    max-width: -webkit-fill-available;
    padding: 1rem;
    padding-top: 0.5rem;
  }
  .main {
    background-position: top center;
  }
  .footer {
    margin-top: 2rem;
  }
  .first {
    flex-wrap: wrap;
  }
  .container-box span:first-child {
    font-size: 20px;
  }
  .accordion {
    font-size: 16px;
  }
  .secImg .video-2 {
    top: 1rem !important;
    right: 3rem !important;
    width: 36vw !important;
  }
  .secImg video {
    top: 2.5rem !important;
    right: 2rem !important;
    width: 41vw !important;
  }
  .secImg img {
    width: 60vw !important;
  }

  .container-box {
    margin-bottom: -11px;
    padding-bottom: 0rem;
  }
}
/* ----desptop devices------ */
@media all and (max-width: 1024px), (max-height: 768px) {
  .secImg video {
    top: 3rem;
    right: 1rem;
    width: 23vw;
  }

  .video-2 {
    width: 16vw !important;
    right: 3rem !important;
  }
}
/* ----tablet devices------ */
@media all and (max-width: 768px) {
  .first {
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .secImg video {
    top: 3rem;
    right: 2rem;
    width: 29vw;
  }
  .video-2 {
    width: 24vw !important;
    right: 4rem !important;
    top: 1rem !important;
  }
  section.fav.martel-sans-bold {
    padding-top: 2rem;
  }
  .secImg img {
    width: 40vw;
  }
  .container-box {
    line-height: normal;
  }
  .grid-box {
    grid-template-columns: 1fr 1fr;
  }
  .main .box {
    height: 92vh;
  }
  .main {
    height: 92vh;
  }
}
